@charset "UTF-8";

/*
  tabs
 */

table {
  width: 100%;
  margin: 0 0 20px;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }


  th {
    background: #cfe4ff;
    text-align: center;
  }

}