<!DOCTYPE html>
<html lang="ja">
<head>

  <title>title</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />

  <link rel="shortcut icon" href="####" />
  <link rel="stylesheet" href="assets/css/style.css" />

</head>
<body>

  <% include module/_header %>




  <% include module/_footer %>

  <canvas class="background"></canvas>
  <script type="text/javascript" src="assets/js/default.js"></script>
</body>
</html>
