<!DOCTYPE html>
<html lang="ja">

<head>

  <title>title</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="keywords" content="####" />
  <meta name="description" content="####" />

  <link rel="shortcut icon" href="####" />
  <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>

  <% include module/_header %>

    <nav role="navigation">
      グローバルナビ
    </nav>

    <main>
      <h2>Apples</h2>
      <p>The apple is the pomaceous fruit of the apple tree.</p>

      <article>
        <h2>Red Delicious</h2>
        <p>These bright red apples are the most common found in many supermarkets.
        </p>
        <p class='text'>
          あああ
          <br> いいい
        </p>
      </article>

      <article>
        <h2>Granny Smith</h2>
        <p>These juicy, green apples make a great filling for apple pies.</p>
        <p>... </p>
        <p>... </p>
      </article>
    </main>

    <aside role="complementary">
      サイドコンテンツ
    </aside>


    <% include module/_footer %>

      <script type="text/javascript" src="assets/js/default.js"></script>
</body>

</html>