<!DOCTYPE html>
<html lang="ja">
<head>

  <title>title</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/style.css" />

</head>
<body>



<div class="recent-entry section">

  <div class="section__block section__block--through">

    <!-- entry-list -->
    <div class="entry-list col-s1 col-l3">

      <div class="entry-item">
        <div class="media media-type--horizontal">
          <div class="media__block">
            <div class="media__image">
              <img src="../assets/img/book01.jpg">
            </div>
          </div>
          <div class="media__block">
            <div class="media__date">2017/5/5</div>
            <div class="media__category">カテゴリ</div>
            <div class="media__tag"></div>
            <div class="media__title">タイトル</div>
            <div class="media__text">テキスト</div>
          </div>
        </div><!-- /.media -->
      </div><!-- /.entry-item -->

      <div class="entry-item">
        <div class="media media-type--horizontal">
          <div class="media__block">
            <div class="media__image">
              <img src="../assets/img/book02.jpg">
            </div>
          </div>
          <div class="media__block">
            <div class="media__date">2017/5/5</div>
            <div class="media__category">カテゴリ</div>
            <div class="media__tag"></div>
            <div class="media__title">タイトル</div>
            <div class="media__text">テキスト</div>
          </div>
        </div><!-- /.media -->
      </div><!-- /.entry-item -->

      <div class="entry-item">
        <div class="media media-type--horizontal">
          <div class="media__block">
            <div class="media__image">
              <img src="../assets/img/book01.jpg">
            </div>
          </div>
          <div class="media__block">
            <div class="media__date">2017/5/5</div>
            <div class="media__category">カテゴリ</div>
            <div class="media__tag"></div>
            <div class="media__title">タイトル</div>
            <div class="media__text">テキスト</div>
          </div>
        </div><!-- /.media -->
      </div><!-- /.entry-item -->

      <div class="entry-item">
        <!-- 縦型 -->
        <div class="media media-type--vertical">
          <div class="media__block">
            <div class="media__image">
              <img src="../assets/img/book01.jpg">
            </div>
          </div>
          <div class="media__block">
            <div class="media__date">2017/5/5</div>
            <div class="media__category">カテゴリ</div>
            <div class="media__tag"></div>
            <div class="media__title">タイトル</div>
            <div class="media__text">テキスト</div>
          </div>
        </div><!-- /.media -->
      </div><!-- /.entry-item -->

    </div><!-- /.entry-list -->


  </div><!-- /.section__block -->
</div><!-- /.section -->


  <% include ../module/_footer %>

  <script type="text/javascript" src="../assets/js/default.js"></script>
</body>
</html>
