<!DOCTYPE html>
<html lang="ja">
<head>

  <title>title</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/css/style.css" />

</head>
<body>

<!-- 横型 -->
  <div class="media media-type--horizontal">
    <div class="media__block">
      <div class="media__image">
        写真
      </div>
    </div>
    <div class="media__block">
      <div class="media__date">2017/0/0</div>
      <div class="media__category">カテゴリ</div>
      <div class="media__tag"></div>
      <div class="media__title">タイトル</div>
      <div class="media__text">テキスト</div>
    </div>
  </div>

<!-- 縦型 -->
  <div class="media media-type--vertical">
    <div class="media__block">
      <div class="media__image">
        写真
      </div>
    </div>
    <div class="media__block">
      <div class="media__date">2017/0/0</div>
      <div class="media__category">カテゴリ</div>
      <div class="media__tag"></div>
      <div class="media__title">タイトル</div>
      <div class="media__text">テキスト</div>
    </div>
  </div>

  <script type="text/javascript" src="../assets/js/default.js"></script>
</body>
</html>
